.navbar-top {
  color: white;
  background-color: black;
  margin-bottom: 3rem;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-brand:hover {
  color: #eaeaea;
}

.dropdown {
  display: inline;
  margin-right: 0.5rem;
}

.dropdown-black {
  background-color: black;
}

a {
  color: #434343;
}

a:hover {
  color: black;
}

.content-layout {
  min-height: 100vh;
}

.card {
  border-radius: 20px;
  vertical-align: center;
  text-align-all: center;
}

.text-justify {
  font-size: large;
}

.text-larger {
  font-size: large;
}
